.nav-header{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.website-logo{
    width:200px;
    height: 50px;
    margin-left: 100px;
}

.language-dropdown{
    margin-right: 50px;
    padding: 10px;
    border-radius: 10px;
}