.header-container{
    width: 100%;    
    display: flex;
    justify-content: flex-end;
}

.logout-btn{
    padding: 10px;
    margin-right: 20px;
    background-color: red;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}